{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GMOCS 2k25 | Sponsers</title>
    <link rel="shortcut icon" href="{% static 'img/GMOCSLogo.png' %}" type="image/x-icon">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/sponsers.css' %}" />
</head>
<body>
    <div id="particles-js"></div>
    <div class="container">
        <h1>GMOCS 2K25 Sponsers</h1>
        <h2>Our Sponsers</h2>
        <div id="sponsers-list" class="sponser-grid"></div>
    </div>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="{% static 'js/sponsers.js' %}"></script>
</body>
</html>